In [ ]:
#label encoder

In [13]:
import pandas as pd

In [14]:
data = pd.read_csv('salaries.csv')
data

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [15]:
from sklearn.preprocessing import LabelEncoder

le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [16]:
data['company_encoded'] = le_company.fit_transform(data['company'])
data['job_encoded'] = le_job.fit_transform(data['job'])
data['degree_encoded'] = le_degree.fit_transform(data['degree'])

In [17]:
data.drop(['company','job','degree'],axis=1, inplace=True)
data

    salary_more_then_100k  company_encoded  job_encoded  degree_encoded
0                       0                2            2               0
1                       0                2            2               1
2                       1                2            0               0
3                       1                2            0               1
4                       0                2            1               0
5                       1                2            1               1
6                       0                0            2               1
7                       0                0            1               0
8                       0                0            0               0
9                       1                0            0               1
10                      1                1            2               0
11                      1                1            2               1
12                      1                1            0               0
13                      1                1            0               1
14                      1                1            1               0
15                      1                1            1               1

In [18]:
x = data.drop('salary_more_then_100k',axis=1)
y = data['salary_more_then_100k']

In [23]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=90)

In [24]:
from sklearn import tree

dtModel = tree.DecisionTreeClassifier()
dtModel.fit(x_train,y_train)

DecisionTreeClassifier()

In [31]:
y_train_pred = dtModel.predict(x_train)
y_test_pred = dtModel.predict(x_test)

In [35]:
from sklearn.metrics import mean_squared_error, r2_score

mse_y_train_pred = mean_squared_error(y_train_pred,y_train)
mse_y_test_pred = mean_squared_error(y_test_pred,y_test)

r2_y_train_pred = r2_score(y_train_pred,y_train)
r2_y_test_pred = r2_score(y_test_pred,y_test)

In [38]:
res = pd.DataFrame(['Decision Tree',mse_y_train_pred,mse_y_test_pred,r2_y_train_pred,r2_y_test_pred]).transpose()
res.columns = ['Model','MSE(train)','MSE(test)','R2(train)','R2(test)']
res

           Model MSE(train) MSE(test) R2(train) R2(test)
0  Decision Tree        0.0       0.5       1.0      0.0

In [40]:
train_score = dtModel.score(x_train,y_train)
test_score = dtModel.score(x_test,y_test)

In [41]:
train_score

1.0

In [42]:
test_score

0.5

In [ ]:
user_ip_predict = dtModel.predict([[0,2,0]])
user_ip_predict